/* =======================
   LAYOUT | FOOTER
   ======================= */

footer {
	background: lighten($black, 40%);
	padding-bottom: $gw-gutter;	
	padding-top: $gw-gutter;

	ul {
		margin-bottom: 0;
		margin-top: 0;
		width: grid-width(14);

		li {
			list-style: none;

			a {
				color: $white;
			}
		}
	}

}