/* =======================
   LAYOUT | FOOTER
   ======================= */

footer {
    @include outer-container();
	background: lighten($black, 40%);
	padding-bottom: $gutter;
	padding-top: $gutter;

	ul {
		@include span-columns(7);
		margin-bottom: 0;
		margin-top: 0;

        @include media($tablet) {
          @include span-columns(3.5);
        }

        @include media($mobile) {
          @include span-columns(1.7);
        }

		li {
			list-style: none;
			@include span-columns(3.5 of 7);

	        @include media($tablet) {
	          @include span-columns(1.7 of 3.5);
	        }

	        @include media($mobile) {
	          @include span-columns(.85 of 1.7);
	        }

	        &:first-child {
	          @include span-columns(7 of 7);

		        @include media($tablet) {
		          @include span-columns(3.5 of 3.5);
		        }
	        }

			a {
				color: $white;
			}
		}
	}

	p {
		@include span-columns(6);

        @include media($tablet) {
          @include span-columns(3);
        }

        @include media($mobile) {
          @include span-columns(1.5);
        }
	}

}
