/* =======================
   LAYOUT | FOOTER
   ======================= */

footer {
    @include outer-container();
	background: lighten($black, 40%);
	padding-bottom: $gw-gutter;
	padding-top: $gw-gutter;

	ul {
		@include span-columns(3.5);
		margin-bottom: 0;
		margin-top: 0;

		li {
			list-style: none;

			a {
				color: $white;
			}
		}
	}

	.logo {
		@include span-columns(2);
	}
	p {
		@include span-columns(3);
	}

}
