/* =======================
   LAYOUT | HEADER
   ======================= */

header {
  	position: relative;
  	text-align: center;

  	hgroup {
      @include background-image-replacement(240px, 240px, "#{$assets_path}/images/ghost-joe.png");
      @include outer-container();
      position: relative;
      @include animation(0, 3s, fadeinout, normal, infinite);
      z-index: 2;

  		/*h1, h2 {
        margin: 0.5em 0;
        @include span-columns(20);
        @include center-content();

        @include media($tablet) {
          @include span-columns(10);
        }

        @include media($mobile) {
          @include span-columns(5);
        }
  		}*/
	 }

  @include keyframe(fadeinout) {
      0% {
          opacity: 0;
      }
      50% {
          opacity: 1;
          z-index: 0;
      }
      100% {
          opacity: 0;
          z-index: 2;
      }
  }
}

