/* =======================
   LAYOUT | MAIN
   ======================= */

main {
	background: $background-grey;
	padding-bottom: $gw-gutter;
	padding-top: $gw-gutter;

	h3, p, blockquote {
	  	margin-left: $gw-gutter;
	  	margin-bottom: $gw-gutter;
		width: grid-width(14);
	}

}

