/* =======================
   LAYOUT | NAV
   ======================= */

nav {
    @include outer-container();

	ul {
		@include ul-list-inline();
    overflow: hidden;
    margin: 0 !important;
    padding: .25em 0 .25em $gutter;

    li {
        @include span-columns(3.3);

        @include media($tablet) {
          @include span-columns(1.65);
        }
        @include media($mobile) {
          @include span-columns(5);
        }
      }
	}
}
