/* =======================
   LAYOUT | NAV
   ======================= */

nav {
    @include outer-container();
  	margin-left: $gutter;
  	text-align: center;

	ul {
		@include ul-list-inline();

        li {
            @include span-columns(3.3);

            @include media($tablet) {
              @include span-columns(1.6);
            }

            @include media($mobile) {
              @include span-columns(.83);
            }
        }
		a {
			display: block;
			margin: 0 10px;
			padding: 10px 14px;
		}
	}
}
