/* =======================
   LAYOUT | NAV
   ======================= */

nav {
  	margin-left: $gw-gutter;
  	text-align: center;
	width: grid-width(14);

	ul {
		@include ul-list-inline();

		a {
			background: rgba(255,255,255,0.7);
			@include border-radius(8px);
			display: block;
			padding: 20px;

			&:hover {
				background: rgb(255,255,255);
			}
		}
	}
}