/* =======================
   FONTS | EXO-2
   ======================= */

@font-face {
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 300;
    src: local('Exo 2 Light'), local('Exo2-Light'), url(http://themes.googleusercontent.com/static/fonts/exo2/v1/JWvvdsUbb528VH-BDTzpW_esZW2xOQ-xsNqO47m55DA.woff) format('woff');
}
@font-face {
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 500;
    src: local('Exo 2 Medium'), local('Exo2-Medium'), url(http://themes.googleusercontent.com/static/fonts/exo2/v1/SJSKlaAoPzG8E6EMHXZfevesZW2xOQ-xsNqO47m55DA.woff) format('woff');
}
@font-face {
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 700;
    src: local('Exo 2 Bold'), local('Exo2-Bold'), url(http://themes.googleusercontent.com/static/fonts/exo2/v1/RZBBdEhQV3g9mUXUAU9PpvesZW2xOQ-xsNqO47m55DA.woff) format('woff');
}
