@charset "UTF-8";

/* =======================
   TOOLS | SITE-SETTINGS
   ======================= */

// Html 5 Element
$audio-canvas-video: false; // True | False

// Fonts
$font1: "Exo 2", Arial, sans-serif;
$font2: $helvetica;

// = Colors
// -----------------------------

$white: rgb(255,255,255);
$black: rgb(0,0,0);
$red: rgb(223,30,40);
$blue: rgb(13,114,96);
$facebook: #3b5998;
$twitter: #43bfe1;

$color1: $red;
$color2: $blue;

// Text
$color-text-base: rgb(15,15,15);

// Link
$color-link: $color2;
$color-link-hover: lighten($color2, 10%);

// Mixin Placeholder
$color-mixin-placeholder: darken($color2, 20%);

// Background
$background-grey: rgb(243,243,243);

// Btn
$bg-btn: rgba(15,15,15,0.2);
$bg-btn-hover: darken($bg-btn, 10%);
$clr-btn: rgba(15,15,15,0.1);;
$clr-btn-hover: darken($clr-btn, 10%);

// = Grid
// -----------------------------

$gw-column: 60px;	// Column Width
$gw-gutter: 12px;	// Gutter Width
