/* =======================
   MODULE | BTN
   ======================= */

.btn {
    text-decoration: none;

    &:hover {
        @include letterpress(rgba(0,0,0,1));
    }
    &:active {

    }
}

nav {

    li {
        @include background(linear-gradient(transparent 0, rgba(0,0,0,0.2) 40%, rgba(0,0,0,0.4) 40%, transparent 20%));
        @include border-radius(.8em);
        @include radial-gradient(#fff, #ccc);
        border: .3em solid #eee;
        padding: .25em;
        text-align: center;

        .btn {
            @include background(linear-gradient(#ccc 0, rgba(0,0,0,0.1) 40%, transparent 20%, #ccc 40%));
            @include border-radius(.5em);
            @include letterpress(rgba(0,0,0,0.4));
            border: .175em solid rgba(0,0,0,0.05);
            color: $white;
            display: block;
            padding: .15em .1em;

            &:hover {
                opacity: 0.6;
                outline: 0;
            }
            &:active {

            }
        }
    }
}
